body {
    max-width: 700px;
    margin: auto;
    padding: 5px;

    font-size  : 18px;
    line-height: 25px;

    font-family: "Raleway", sans-serif;
}

h1 {
    line-height: 150%;
    font-size  : 180%;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

#archives h1 {
    line-height: 45px;
    font-size: 130%;
    font-weight: normal;
    display: inline-block;
}

#archives time {
    line-height: 45px;
    margin-right: 10px;
    color: #38c5c5
}

time {
    font-family: "Oswald", sans-serif;
}

pre, blockquote, code {
    page-break-inside: avoid;

    font-size  : 14px;
    font-family: monospace;

    background-color: #e6e6e6;
}

pre {
    margin : 10px 0;
    padding: 10px;
    
    overflow   : auto;
    line-height: 18px;
}

code { 
    padding: 2px 4px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #38c5c5;
}

article .body {
    font-size  : 90%;
}

article .body a {
    color: #38c5c5;
}

article .body h1, article .body h2 {
    margin-top : 17px;
    font-size  : 160%;
    font-family: "Oswald", sans-serif;
}

header {
    margin: 25px 0 25px;
    text-align : center;
}

header h1 {
    margin: 0;

    font-size  : 300%;
    font-weight: bold;
}

header nav a {
    font-weight: bold;
}

header nav a:before { content: '[ '; color: #38c5c5; }
header nav a:after  { content: ' ]'; color: #38c5c5; }

footer {
    margin: 25px 0 25px;
    text-align: center;
}

footer nav {
    font-family: "Oswald", sans-serif;
}
footer .prev, .next {
    display: block;
}
footer .prev { float: left;  }
footer .next { float: right; }

#posts article:not(:last-child) {
    margin-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}

#posts article p {
    margin: 15px 0;
}

#archives {
    margin: auto;
    margin-left: 10%;
}


kbd {
    display: inline-block;
    vertical-align: middle;

    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    border-radius: 3px;

    font-size: 65%;
    font-family: monospace;
    text-transform: uppercase;

    margin: 0 0.1em;
    line-height: 1.4;
    white-space: nowrap;
}